# Gradle
backend/.gradle/
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
frontend/tsconfig.tsbuildinfo
